img {
    width: 25%;
    height: 25%;
    padding: 20px;
}

#selectTag > option {
    display: block;
}

article {
    word-wrap: break-word;
}
.admin-link{
    position: absolute;
    top: 2px;
    left: 2px;
}

.left{float: left; margin: 0 10px 10px 0;}
.clear{clear: both;}