img {
    width: 25%;
    height: 25%;
    padding: 20px;
}

#selectTag > option {
    display: block;
}

article {
    word-wrap: break-word;
}
.admin-link{
    position: absolute;
    top: 2px;
    right: 15px;

}

.left{
    float: left; margin: 0 10px 10px 0;
}
.clear{
    clear: both;
}

.userInfo > p > a, .list-group-item >.badge > a {
    color: #6b9430;
    text-decoration: none;
}
.userInfo>p >a:hover, .list-group-item >.badge :hover  {
    color:white;
}
